:root {
  --md-primary: #180A4D;
  
  --md-secondary: #a92a21;
  --md-secondary-light: #ef7c74;
  --md-secondary-dark: #631610;
  --md-accent-light: #E8D5B5;
  --md-accent-light-hover: #f8c976;
  
  --md-dark-blue: #01002F;
  --md-dark-blue-dark: #010013;
  --md-light-red: #FDF8FD;
  --md-light-blue: #FAFCFF;
  --md-light: #e9e9e9;
  --md-light-bs: #f8f9fa;

  --md-neutral20: #4A4453;
  --md-neutral30: #313033;
}
